{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Stats{% endblock title %}

{% block maincontent %}

<h2>Stats</h2>
<br>
<table width="100%">
	<tr>
		<td>
		<h4>This Month Points</h4>
		<table id="sendtable" width="400">
			<tr bgcolor="#eeeeee">
				<td width="250">
				Name
				</td>
				<td>
				Points
				</td>
			</tr>
			{% for monthpoints in monthpoints %}
			<tr>
				<td>
				<a href="/users/{{ monthpoints.id }}">{{ monthpoints.userdetails.first_name }} {{ monthpoints.userdetails.last_name }}</a>
				</td>
				<td>
				{{ monthpoints.totalpoints }}
				</td>
			</tr>
			{% endfor %}
		</table>
		</td>
		<td>
		<h4>This Month Sends</h4>
		<table id="sendtable" width="400">
			<tr bgcolor="#eeeeee">
				<td width="250">
				Name
				</td>
				<td>
				Sends
				</td>
			</tr>
			{% for monthsends in monthsends %}
			<tr>
				<td>
				<a href="/users/{{ monthsends.id }}">{{ monthsends.userdetails.first_name }} {{ monthsends.userdetails.last_name }}</a>
				</td>
				<td>
				{{ monthsends.sends }}
				</td>
			</tr>
			{% endfor %}
		</table>
		</td>
	</tr>
	<tr height=30>
	</tr>
	<tr>
		<td>
		<h4>Most Total Points</h4>
		<table id="sendtable" width="400">
			<tr bgcolor="#eeeeee">
				<td width="250">
				Name
				</td>
				<td>
				Points
				</td>
			</tr>
			{% for totalpoints in totalpoints %}
			<tr>
				<td>
				<a href="/users/{{ totalpoints.userdetails.id }}">{{ totalpoints.userdetails.first_name }} {{ totalpoints.userdetails.last_name }}</a>
				</td>
				<td>
				{{ totalpoints.totalpoints }}
				</td>
			</tr>
			{% endfor %}
		</table>
		</td>
		<td>

		<h4>Most Total Sends</h4>
		<table id="sendtable" width="400">
			<tr bgcolor="#eeeeee">
				<td width="250">
				Name
				</td>
				<td>
				Sends
				</td>
			</tr>
			{% for totalsends in totalsends %}
			<tr>
				<td>
				<a href="/users/{{ totalsends.id }}">{{ totalsends.userdetails.first_name }} {{ totalsends.userdetails.last_name }}</a>
				</td>
				<td>
				{{ totalsends.sends }}
				</td>
			</tr>
			{% endfor %}
		</table>
		</td>
	</tr>
</table>


	
{% endblock %}
