{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Stats{% endblock title %}

{% block maincontent %}

<h2>Stats</h2>

Total Sends:<br>
{% for totalsends in totalsends %}
{{ totalsends.userdetails.first_name }} {{ totalsends.sends }}<br>
{% endfor %}

{{ user.userdetails.first_name }}<br>
8b: {{ user.userdetails.eightbsends }}<br>
8a+: {{ user.userdetails.eightaplussends }}<br>
8a: {{ user.userdetails.eightasends }}<br>
7c+: {{ user.userdetails.sevencplussends }}<br>
7c: {{ user.userdetails.sevencsends }}<br>
7b+: {{ user.userdetails.sevenbplussends }}<br>
7b: {{ user.userdetails.sevenbsends }}<br>
7a+: {{ user.userdetails.sevenaplussends }}<br>
7a: {{ user.userdetails.sevenasends }}<br>
6c+: {{ user.userdetails.sixcplussends }}<br>
6c: {{ user.userdetails.sixcsends }}<br>
6b+: {{ user.userdetails.sixbplussends }}<br>



	
{% endblock %}
