{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Password Change{% endblock %}

{% block maincontent %}
<br>
<br>

<table class="formtable">
	<tr>
		<td width="150">
		<form method="post">
		{% csrf_token %}
		<b><label for="id_old_password">Old password:</b>
		</td>
		<td width="220">
		{{ form.old_password }}</p>
		</td>
		
	</tr>
	<tr>
		<td>
		<b>New password:</b>
		</td>
		<td>
		{{ form.new_password1 }}</p>
		</td>
	</tr>
	<tr>
		<td>
		<b>Confirmation:</b>
		</td>
		<td>
		{{ form.new_password2 }}
		</td>
	</tr>
    <tr>
		<td>
		<button type="submit">Submit</button>
		</td>
	</tr>
	</form>
		
</table>
<br><br>

		<ul>Your new password must:
		<li>Be at least 8 characters</li>
		<li>Not be a commonly used password</li>
		<li>Not be entirely numeric</li>
		</ul>
		
{% endblock %}