{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Password Change{% endblock %}

{% block maincontent %}
<br>
<br>

<table border=0>
	<tr>
		<td width="150">
		<form method="post">
		{% csrf_token %}
		<p><label for="id_old_password">Old password:</label> 
		</td>
		<td width="220">
		<input autofocus="" id="id_old_password" name="old_password" type="password" required /></p>
		</td>
		<td rowspan="5">
		<ul>Your new password must:
		<li>Be at least 8 characters</li>
		<li>Not be a commonly used password</li>
		<li>Not be entirely numeric</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td>
		<p><label for="id_new_password1">New password:</label>
		</td>
		<td>
		<input id="id_new_password1" name="new_password1" type="password" required /></p>
		</td>
	</tr>
	<tr>
		<td>
		<p><label for="id_new_password2">Confirmation:</label>
		</td>
		<td>
		<input id="id_new_password2" name="new_password2" type="password" required /></p>
		</td>
	</tr>
    <tr>
		<td>
		<button type="submit">Submit</button>
		</td>
	</tr>
	</form>
		
</table>
{% endblock %}