{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Password Change{% endblock %}

{% block maincontent %}
<br>
<br>
<form method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
<table class="formtable">
	<tr>
		<td width="150">
		
		<b><label for="id_old_password">Old password:</b>
		</td>
		<td width="220">
		{{ form.old_password }}
		</td>
		<td>
		{{ form.old_password.errors }}
		</td>
		
	</tr>
	<tr>
		<td>
		<b>New password:</b>
		</td>
		<td>
		{{ form.new_password1 }}
		</td>
		<td>
		{{ form.new_password1.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Confirmation:</b>
		</td>
		<td>
		{{ form.new_password2 }}
		</td>
		<td>
		{{ form.new_password2.errors }}
		</td>
	</tr>
    <tr>
		<td>
		<button type="submit">Submit</button>
		</td>
	</tr>
	</form>
		
</table>
<br><br>

		
		
{% endblock %}