{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add Video{% endblock title %}

{% block maincontent %}
<form method="POST" class="post-form">{% csrf_token %}
<h2>Add Video</h2>
<table class="formtable">
	<tr>
		<td><b>Climb:</b>
		</td>
		<td>
		{{ form.climb }}
		</td>
	</tr>
	<tr>
		<td>
		<b>URL:</b>
		</td>
		<td>
		{{ form.url }}
		</td>
	</tr>
	<tr>
		<td>
        <button type="submit" class="save btn btn-default">Save</button>
		</td>
	</tr>
</table>
</form>
	
	<br>
	Click <a href="/directions" target="_blank">here</a> for instructions on how to add a video.<br><br>

	
	
{% endblock %}
