{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block maincontent %}

Test
<font size=4><b>Recent Sends:</b></font><br>
<ul>
{% for recent_sends in recent_sends|slice:":10" %}
<li><a href="/users/{{ recent_sends.user.id }}">{{ recent_sends.user.first_name }}</a> sent <a href="/climbs/{{ recent_sends.climb.slug }}/">{{ recent_sends.climb.name }} ({{ recent_sends.climb.get_grade_display }})</a> on {{ recent_sends.date.month }}/{{ recent_sends.date.day }}/{{ recent_sends.date.year }}</li>
{% endfor %}
</ul>

<br><br>
<font size=4><b>Recent Videos:</b></font><br>
<ul>
{% for recent_videos in recent_videos|slice:":10" %}
<li><a href="/users/{{ recent_videos.user.id }}">{{ recent_videos.uploaded_by.first_name }}</a> added a video to <a href="/climbs/{{ recent_videos.climb.slug }}/">{{ recent_videos.climb.name }} ({{ recent_videos.climb.get_grade_display }})</a> on {{ recent_videos.date.month }}/{{ recent_videos.date.day }}/{{ recent_videos.date.year }}</li>
{% endfor %}
</ul>

<br><br>
<font size=4><b>Features to add:</b></font>
<ul>
<li><strike>Recommended climbs across users</strike></li>
<li>Most sends/most videos/other stats</li>
<li><strike>Edit of send</strike></li>
<li><strike>Make date editable when logging send</strike></li>
<li>Make forms prettier</li>
<li><strike>Update feed</strike></li>
<li><strike>Change password function</strike></li>
<li><strike>Make change pw prettier</strike></li>
<li><strike>Add Profile page</strike></li>
<li>Update add video directions</li>
<li>Make user list prettier/sortable</li>
<li>Add DB auto backup</li>
<li><strike>Add +video, +send to climb page</strike></li>	
<li>Add "Benchmark" sort </li>
</ul>


{% endblock %}