{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Log Climb{% endblock title %}
{% block maincontent %}

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

<h2>Log Climb</h2>
<br>
{{ form.non_field_errors }}
<table class="formtable">
<form method="POST" class="post-form">{% csrf_token %}
	<tr>
		<td>		
		<b>Climb:</b>
		</td>
		<td>
		{{ form.climb }}
		</td>
		<td>
		{{ form.climb.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Date:</b>
		</td>
		<td>
		<input id="datepicker" name="date" type="text" required />
		</td>
		<td>
		{{ form.date.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Attempts: </b>
		</td>
		<td>
		{{ form.attempts }}
		</td>
		<td>
		{{ form.attempts.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Personal Grade: </b>
		</td>
		<td>{{ form.personal_grade }}
		</td>
		<td>{{ form.personal_grade.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Stars:</b>
		</td>
		<td>{{ form.stars }}
		</td>
		<td>
		{{ form.stars.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Recommended:</b>
		</td>
		<td>{{ form.recommended }}
		</td>
		<td>
		{{ form.recommended.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Comments:</b>
		</td>
		<td>{{ form.comments }}
		</td>
		<td>
		{{ form.comments.errors }}
		</td>
	</tr>
	<tr>
		<td>
        <button type="submit" class="save btn btn-default">Save</button>
		</td>
	</tr>
    </form>
</table>
	
	
	

	
	
{% endblock %}
