{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}New Climb{% endblock title %}
{% block maincontent %}

<h2>New Climb</h2>
<form method="POST" class="post-form">{% csrf_token %}
{{ form.non_field_errors }}
<table class="formtable">
	<tr>
		<td><b>Name:</b>
		</td>
		<td>
        {{ form.name }}
		</td>
		<td>
		{{ form.name.errors }}
		</td>
	</tr>
	<tr>
		<td><b>Grade:</b>	
		</td>
		<td>
		{{ form.grade }}
		</td>
		<td>
		{{ form.grade.errors }}
	</tr>
	<tr>
		<td>
        <button type="submit" class="save btn btn-default">Submit</button>
		</td>
	</tr>
</table>
 
	
{% endblock %}