{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}User Details{% endblock title %}

{% block maincontent %}

<h2>{{ currentuser.userdetails.first_name }} {{ currentuser.userdetails.last_name }}</h2>
<a href="edit/">[Edit Profile]</a>&#160&#160&#160<a href="/accounts/password_change/">[Change Password]</a><br><br>
<table class="formtable">
	<tr>
		<td>
		<b>Location: </b>
		</td>
		<td>
		{{ currentuser.userdetails.location }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Moonboard: </b>
		</td>
		<td>{{ currentuser.userdetails.moonboardlocation }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Height: </b>
		</td>
		<td>{{ currentuser.userdetails.height }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Weight: </b>
		</td>
		<td>{{ currentuser.userdetails.weight }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Ape Index: </b>
		</td>
		<td>
		{{ currentuser.userdetails.ape_index }}
		</td>
	</tr>
</table>


	
	
{% endblock %}
