{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Climb List{% endblock title %}

{% block maincontent %}

<!----------Start Search Table----------->

<h2>Search:</h2>
<table width="975">
<tr>
<td>
<div class="panel panel-default" style="width: 975px">
<div class="panel-heading" style="width: 975px">
<form action="/climb_list/"  method="get" > 
<table border=0 width=975>
	<tr>
		<td width="300">
		<h5>Name: <input type="text" name = "name" value="{% if searchname %}{{ searchname }}{% endif %}"></input></h5>
		</td>
		<td width="300"><h5>Sent By: 
		<select name="sentby">
		<option value="">All</option>
		{% for userlist in userlist %}
		<option value="{{ userlist.id }}" {% if searchsentbyint == userlist.id %}selected{% endif %}>{{ userlist.userdetails.first_name }} {{ userlist.userdetails.last_name }}</option>
		
		{% endfor %}
		</select> </h5>
		</td>
		<td width="300"><h5>Exclude My Sends: &#160&#160<input type="checkbox" name="excludemine" value="true" {% if searchexcludemine %}checked{% endif %}></h5>
		</td>
	</tr>
	<tr>
		<td>
		<h5>Grade:	<select name="grade">
		<option value="" {% if searchgrade == "" %}selected{% endif %}>All</option>
		<option value="13" {% if searchgrade == "13" %}selected{% endif %}>8b</option>
		<option value="12" {% if searchgrade == "12" %}selected{% endif %}>8a+</option>
		<option value="11" {% if searchgrade == "11" %}selected{% endif %}>8a</option>
		<option value="10" {% if searchgrade == "10" %}selected{% endif %}>7c+</option>
		<option value="9" {% if searchgrade == "9" %}selected{% endif %}>7c</option>
		<option value="8" {% if searchgrade == "8" %}selected{% endif %}>7b+</option>
		<option value="7" {% if searchgrade == "7" %}selected{% endif %}>7b</option>
		<option value="6" {% if searchgrade == "6" %}selected{% endif %}>7a+</option>
		<option value="5" {% if searchgrade == "5" %}selected{% endif %}>7a</option>
		<option value="4" {% if searchgrade == "4" %}selected{% endif %}>6c+</option>
		<option value="3" {% if searchgrade == "3" %}selected{% endif %}>6c</option>
		<option value="2" {% if searchgrade == "2" %}selected{% endif %}>6b+</option>
		</select></h5>
		</td>
		<td><h5>Recommended By: 
		<select name="recby">
		<option value="" selected>---</option>
		{% for userlist in userlist %}
		<option value="{{ userlist.id }}" {% if searchrecommendedint == userlist.id %}selected{% endif %}>{{ userlist.userdetails.first_name }} {{ userlist.userdetails.last_name }}</option>
		{% endfor %}
		</select> </h5>
		</td>
		<td width="300"><h5>Only Climbs With Videos:&#160&#160 <input type="checkbox" name="videosonly" value="true" {% if searchvideosonly %}checked{% endif %}></h5>
		</td>
	</tr>
	<tr>
		<td>
		<h5>Stars: <select name="globalstars">
		<option value="" {% if searchglobalstars == "" %}selected{% endif %}>All</option>
		<option value="3" {% if searchglobalstars == "3" %}selected{% endif %}>3</option>
		<option value="2" {% if searchglobalstars == "2" %}selected{% endif %}>2</option>
		<option value="1" {% if searchglobalstars == "1" %}selected{% endif %}>1</option>
		<option value="0" {% if searchglobalstars == "0" %}selected{% endif %}>0</option>
		</select>
		</h5>
		</td>
		<td>
		<h5>Local Stars: <select name="localstars">
		<option value="" {% if searchlocalstars == "" %}selected{% endif %}>All</option>
		<option value="3"{% if searchlocalstars == "3" %}selected{% endif %}>3 stars</option>
		<option value="2"{% if searchlocalstars == "2" %}selected{% endif %}>2 stars (or more)</option>
		<option value="1"{% if searchlocalstars == "1" %}selected{% endif %}>1 star (or more)</option)
		</select></h5>
		</td>
		<td>
		<h5>Sort By: <select name="sortby">
		<option value="sortgrade" {% if searchsort == "sortgrade" %}selected{% endif %}>Grade</option>
		<option value="sortglobalrepeats"{% if searchsort == "sortglobalrepeats" %}selected{% endif %}>Most Global Repeats</option>
		<option value="sortglobalstars"{% if searchsort == "sortglobalstars" %}selected{% endif %}>Highest Global Rating</option>
		<option value="sortlocalrepeats"{% if searchsort == "sortlocalrepeats" %}selected{% endif %}>Most Local Repeats</option>
		<option value="sortlocalstars"{% if searchsort == "sortlocalstars" %}selected{% endif %}>Highest Local Rating</option>
		<option value="sortvideos"{% if searchsort == "sortvideos" %}selected{% endif %}>Most Videos</option>
		<option value="sortrecent"{% if searchsort == "sortrecent" %}selected{% endif %}>Recently Added</option>
		</select></h5>
		
		</td>
	</tr>
	<tr>
		<td>
		<input type="submit" value="Search"/>&#160&#160&#160<a href="/climb_list/">[ Reset ]</a>
		</td>
		<td>
		
		</td>
		<td>
		<font size=1><b>Total Climbs: {{ climbcount }}</b></font>&#160&#160&#160&#160&#160<font size=1><b>Total Videos: {{ videocount }}</b></font>
		</td>
	</tr>
</table>
</form>
</div>
</div>
</td></tr></table>


<!----------End Search Table----------->

<h2>{{ climbheader }}</h2>
{% for climb in climb %}
<table width="975">
<tr>
<td>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <table width=100% border=0>
				<tr>
					<td width=80%>
					<a data-toggle="collapse" href="#collapse{{ climb.id }}"><font color="#000000">{{ climb.name }} ({{ climb.get_grade_display }}{% if climb.gradeavg|floatformat:"0" == '13' %}/8b{% endif %}{% if climb.gradeavg|floatformat:"0" == '12' %}/8a+{% endif %}{% if climb.gradeavg|floatformat:"0" == '11' %}/8a{% endif %}{% if climb.gradeavg|floatformat:"0" == '10' %}/7c+{% endif %}{% if climb.gradeavg|floatformat:"0" == '9' %}/7c{% endif %}{% if climb.gradeavg|floatformat:"0" == '8' %}/7b+{% endif %}{% if climb.gradeavg|floatformat:"0" == '7' %}/7b{% endif %}{% if climb.gradeavg|floatformat:"0" == '6' %}/7a+{% endif %}{% if climb.gradeavg|floatformat:"0" == '5' %}/7a{% endif %}{% if climb.gradeavg|floatformat:"0" == '4' %}/6c+{% endif %}{% if climb.gradeavg|floatformat:"0" == '3' %}/6c{% endif %}{% if climb.gradeavg|floatformat:"0" == '2' %}/6b+{% endif %})
		</font></a>
					</td>
					<td><a href="/climbs/{{ climb.slug }}"><font color="#000000">Videos: {{ climb.videocount }}</font></a>
					</td>
				</tr>
			</table>
      </h4>
    </div>
    <div id="collapse{{ climb.id }}" class="panel-collapse collapse">
			<br>
			

<table border="0" width=100% height="520">
	<tr>
		<td rowspan="5" width="427" align="center">
		{% if climb.canvas == True %}
		<img src="/static/images/climbs/{{ climb.slug }}.png" height="500">
		{% else %}
		<div style="border: 0px solid; overflow: hidden; margin: 0px auto; margin-top: 0px; margin-left: 15px; max-width: 427px; float: left;">
		<iframe align="left" scrolling="no" src="http://www.moonboard.com/problems/{{ climb.slug }}/#blog" style="-ms-zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0; -o-transform: scale(0.75); -o-transform-origin: 0 0; -webkit-transform: scale(0.75); -webkit-transform-origin: 0 0;border: 0px solid; margin-left: -20px; height: 660px; width: 427px; margin-top: -40px;">
		</iframe>
		</div>
		{% endif %}
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Global Grade:</b> {{ climb.get_grade_display }}<br>
		<br><b>Global Repeats:</b> {{ climb.global_repeats }}<br>
		<br>{% if climb.stars != NULL %}<b>Global Stars:</b>  <img src="/static/images/{{ climb.stars }}star.jpg" height="20">{% endif %}<br>
		
		<br><br><br>
		<b>Local Grade:</b> 
		{% if climb.gradeavg|floatformat:"0" == '13' %}8b{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '12' %}8a+{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '11' %}8a{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '10' %}7c+{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '9' %}7c{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '8' %}7b+{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '7' %}7b{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '6' %}7a+{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '5' %}7a{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '4' %}6c+{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '3' %}6c{% endif %}
		{% if climb.gradeavg|floatformat:"0" == '2' %}6b+{% endif %}
		
		<br>
		
		<br><b>Local Stars:</b> {{ climb.starsavg }}
		<br><br><br>
		<b>Local Sends:</b> {{ climb.localrepeats }}
		<br><br><b>Sent By: </b>
		{% if climb.users.all %}
		{% for user in climb.users.all %}
		<a href="/users/{{ user.id }}">{{ user.first_name }}</a>
		{% endfor %}
		{% else %}No local sends! Get on it!{% endif %}
		<br><br><br><br><a href="/climbs/{{ climb.slug }}">Videos: {{ climb.videocount }}</a>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
	<tr>
		<td>
		</td>
	</tr>
</table>
				
					
      <div class="panel-footer"><a href="/climbs/{{ climb.slug }}">More Details...</a></div>
    </div>
  </div>
</div>

</td></tr></table>





{% endfor %}

        
{% endblock %}