	{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ profile.userdetails.first_name}} {{ profile.userdetails.last_name }}{% endblock title %}
{% block maincontent %}

  


<h2>{{ profile.userdetails.first_name }} {{ profile.userdetails.last_name }}</h2>
<b>Location:</b> {{ profile.userdetails.location }}<br>
<b>Moonboard:</b> {{ profile.userdetails.moonboardlocation }}<br>
<b>Height:</b> {{ profile.userdetails.height }}<br>
<b>Weight:</b> {{ profile.userdetails.weight }}<br>
<b>Ape Index:</b> {{ profile.userdetails.ape_index }}<br><br>
<table width="840" border="0">
	<tr>
		<td width="210">
		<b>Total Sends:</b> {{ totalsends }}
		</td>
		<td width="210">
		<b>Month Sends:</b> {{ thismonthcount }}
		</td>
		<td width="210">
		
		</td>
		<td width="210">
		<b>Videos Added:</b> {{ videosadded }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Rank:</b>
		</td>
		<td>
		<b>Rank:</b>
		</td>
		<td>
		
		</td>
		<td>
		<b>Rank:</b>
		</td>
	</tr>
	<tr height="20">
	</tr>
	<tr>
		<td>
		<b>Total Points:</b> {{ totalvpoints.personal_grade__sum }}
		</td>
		<td>
		<b>Month Points:</b> {{ thismonthpoints.personal_grade__sum }}
		</td>
		<td>
		
		</td>
		<td>
		</td>
	</tr>	
	<tr>
		<td>
		<b>Rank:</b>
		</td>
		<td>
		<b>Rank:</b>
		</td>
		<td>
		</td>
		<td>
		</td>
	</tr>	
</table>



<table width="90%">
	<tr>
		<td>
		<h3>Sends:</h3>
		</td>
		<td width="220">
		<form action="/users/{{ profile.id }}/"  method="get" > 
		<h5>Sort By: <select name="sortby">
		<option value="sortgrade" selected>Grade</option>
		<option value="sortname">Name</option>
		<option value="sortdate">Most Recent</option>
		</select>
		&#160&#160&#160&#160<input type="submit" value="Sort"/>
		</h5>
		</td>
	</tr>
</table>
<table id="sendtable" width="90%">
	<tr bgcolor="eeeeee">
		<td width="175">
		Climb
		</td>
		<td width="75">
		Grade
		</td>
		<td width="75">
		Date
		</td>
		<td width="90">
		Attempts
		</td>
		<td width="100">
		Stars
		</td>
		<td>
		Comments
		</td>
	</tr>
{% for log in log %}
	<tr>
		<td>
		<a href="/climbs/{{ log.climb.slug }}/">{{ log.climb.name }} ({{ log.climb.get_grade_display }})</a>
		</td>
		<td>
		{{ log.get_personal_grade_display }}
		</td>
		<td>
		{{ log.date|date:"m/d/y" }}
		</td>
		<td> 
		{{ log.attempts }}
		</td>
		<td>
		<img src="/static/images/{{ log.stars }}star.jpg" height="20">
		</td>
		<td>
		{{ log.comments }} {% if currentuser.id == profile.id or currentuser.id == 1 %}&#160&#160&#160<a href="/sends/{{ log.id }}/edit">[Edit this send]</a>{% endif %}
		</td>
	</tr>
		
		{% endfor %}
</table>
<br>



<!---Charts---->

<h3>Charts:</h3>
<br>
<table width="360" height="200" id="sendcharttable">
	<tr height="30">
		<td colspan="12" align="center">
		<h5><b>Total Sends</b></h5>
		</td>
	</tr>
	<tr>
		<td valign="bottom">
			<div id="6b+" style="height: {{ sends6bplus }}0px; width: 30px; background-color: #33ff33; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends6bplus > 0 %}{{ sends6bplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="6c" style="height: {{ sends6c }}0px; width: 30px; background-color: #0aff0a; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends6c > 0 %}{{ sends6c }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="6c+" style="height: {{ sends6cplus }}0px; width: 30px; background-color: #00f500; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends6cplus > 0 %}{{ sends6cplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7a" style="height: {{ sends7a }}0px; width: 30px; background-color: #00cc00; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7a > 0 %}{{ sends7a }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7a+" style="height: {{ sends7aplus }}0px; width: 30px; background-color: #ffff5c; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7aplus > 0 %}{{ sends7aplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7b" style="height: {{ sends7b }}0px; width: 30px; background-color: #ffff00; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7b > 0 %}{{ sends7b }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7b+" style="height: {{ sends7bplus }}0px; width: 30px; background-color: #f5f500; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7bplus > 0 %}{{ sends7bplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7c" style="height: {{ sends7c }}0px; width: 30px; background-color: #cccc00; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7c > 0 %}{{ sends7c }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="7c+" style="height: {{ sends7cplus }}0px; width: 30px; background-color: #ff0000; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends7cplus > 0 %}{{ sends7cplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="8a" style="height: {{ sends8a }}0px; width: 30px; background-color: #e00000; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends8a > 0 %}{{ sends8a }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="8a+" style="height: {{ sends8aplus }}0px; width: 30px; background-color: #b80000; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends8aplus > 0 %}{{ sends8aplus }}{% endif %}
			</div>
		</td>
		<td valign="bottom">
			<div id="8b" style="height: {{ sends8b }}0px; width: 30px; background-color: #8f0000; display: table-cell; vertical-align: middle; text-align: center">
			{% if sends8b > 0 %}{{ sends8b }}{% endif %}
			</div>
		</td>		
	</tr>
	<tr height="1" bgcolor="000000">
		<td colspan="12">
		</td>
	</tr>
	<tr height="40">
		<td width="30" class="sendchartgrade">
		6b+
		</td>
		<td width="30" class="sendchartgrade">
		6c
		</td>
		<td width="30" class="sendchartgrade">
		6c+
		</td>
		<td width="30" class="sendchartgrade">
		7a
		</td>
		<td width="30" class="sendchartgrade">
		7a+
		</td>
		<td width="30" class="sendchartgrade">
		7b
		</td>
		<td width="30" class="sendchartgrade">
		7b+
		</td>
		<td width="30" class="sendchartgrade">
		7c
		</td>
		<td width="30" class="sendchartgrade">
		7c+
		</td>
		<td width="30" class="sendchartgrade">
		8a
		</td>
		<td width="30" class="sendchartgrade">
		8a+
		</td>
		<td width="30" class="sendchartgrade">
		8b
		</td>
	</tr>
</table>


<!---EndCharts---->



{% endblock %}