{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Climb Details{% endblock title %}

{% block maincontent %}

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

<h2>Edit Climb Details</h2>
<a href="/sends/{{ send.id }}/delete">[Delete this send]</a>
<br><br>

<form method="POST" action="/sends/{{ send.id }}/edit/" class="" />
{% csrf_token %}
{{ form.non_field_errors }}
<table class="formtable">
	<tr>
		<td>
		<b>Climb:</b>
		</td>	
		<td>{{ form.climb }}
		</td>
		<td>
		{{ form.climb.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Date: </b>
		</td>
		<td>
		<input id="datepicker" name="date" type="text" required value={{ send.date|date:"m/j/y"  }}>
		</td>
		<td>
		{{ form.date.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Attempts:</b>
		</td>
		<td>
		{{ form.attempts }}
		</td>
		<td>
		{{ form.attempts.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Personal Grade:</b>
		</td>
		<td>{{ form.personal_grade }}
		</td>
		<td>
		{{ form.personal_grade.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Stars:</b>
		</td>
		<td>{{ form.stars }}
		</td>
		<td>
		{{ form.stars.errors }}
		</td>
		</tr>
	<tr>
		<td>
		<b>Recommended:</b>
		</td>
		<td>
		{{ form.recommended }}
		</td>
		<td>
		{{ form.recommended.errors }}
		</td>
	</tr>
	<tr>
		<td>
		<b>Comments: </b>
		</td>
		<td>{{ form.comments }}
		</td>
		<td>
		{{ form.comments.errors }}
		</td>
	</tr>
	<tr>
		<td><button type="submit">Save</button>
		</td>
	</tr>
</table>
</form>
<br><br>







	
	
{% endblock %}
