{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Climb Details{% endblock title %}

{% block maincontent %}

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

<h2>Edit Climb Details</h2>
<a href="/sends/{{ send.id }}/delete">[Delete this send]</a>
<br><br>



<form method="POST" action="/sends/{{ send.id }}/edit/" class="" />
    {% csrf_token %}
	Climb: {{ form.climb }}<br><br>
	Date: <input id="datepicker" name="date" type="text" required /><br><br>
	Attempts: {{ form.attempts }}<br><br>
	Personal Grade: {{ form.personal_grade }}<br><br>
	Stars: {{ form.stars }}<br><br>
	Comments: {{ form.comments }}<br><br>
	
    
    <button type="submit">Save</button>
</form>
<br><br>







	
	
{% endblock %}
